#contacts {
  background: #eeece6 url("../img/04.jpg") no-repeat center /cover;
  text-align: center;
  font-size: 2em;
  padding-top: 120px;
  position: relative;
}

.contacts_wrapper {
  position: absolute;
  top: 120px;
  left: 10%;
  width: 50%;
  color: #fff;
}

.contacts_wrapper a {
  color: #fff;
}

#contacts h2 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}

.messangers {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 10px auto;
}

.messangers_item {
  width: 40px;
  height: 40px;
}

#contacts .social-buttons {
  margin: 10px auto;
}

#contacts .social-buttons_item svg:hover,
#contacts .social-buttons_item svg:focus,
#contacts .social-buttons_item svg:active {
  fill: #963272;
}
