.footer {
  background-color: #000;
  color: #fff;

  & a {
    color: #fff;
  }
}

.footer__wrapper {
  max-width: 1300px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__title {
  font-family: 'Lobster', cursive;
  font-size: 24px;
}
