#gallery {
  background: #eeece6 url("../img/03.jpg") no-repeat left center /cover;
  overflow: hidden;
  position: relative;
}

.slider__gallery {
  position: absolute;
  top: 35%;
  left: 0;
  bottom: auto;
}

#gallery .owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  background: #E3BDDF;
}

#gallery .owl-theme .owl-dots .owl-dot.active span,
#gallery .owl-theme .owl-dots .owl-dot:hover span {
  background: #963272;
}

#gallery .owl-prev,
#gallery .owl-next {
  position: absolute;
  top: 35%;
  font-size: 84px;
  color: #fff;
  font-weight: bold;
}

#gallery .owl-nav .owl-prev:focus,
#gallery .owl-nav .owl-prev:focus,
#gallery .owl-nav .owl-prev:active,
#gallery .owl-nav .owl-next:focus,
#gallery .owl-nav .owl-next:focus,
#gallery .owl-nav .owl-next:active,
#gallery .owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: #963272;
}


#gallery .owl-prev {
  left: 2%;
}

#gallery .owl-next {
  right: 2%;
}
