.header {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  padding: 20px;
  z-index: 101;
}

.header__navigation,
.social-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header__navigation {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
  .header__navigation {
    max-width: 80%;
  }
}
