.popap-menu {
    display: flex;
    position: absolute;
    top: 125px;
    left: 0;
    justify-content: space-between;
    padding: 20px 25%;
    background: rgba(#000, 0.5);
    align-items: center;
    width: 100vw;
    max-width: 100%;
    visibility: hidden;
}

.popap-menu__item {
  padding: 10px;
  list-style: none;
}

.popap-menu__link {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
