#services {
  background: #eeece6 url("../img/02.jpg") no-repeat top left /cover;
  position: relative;
}

#services h2 {
  font-size: 10vh;
  text-shadow: 0 0 5px white;
  text-transform: uppercase;
}

.services__wrapper {
  position: absolute;
  top: 120px;
  right: 10%;
  width: 50%;
}

.services__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.services__more {
  display: none;
}

.services__item {
  width: 30%;
  list-style: none;
  text-align: center;
  margin-top: 4vh;
  padding: 10px;
  color: #fff;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 5px 3px rgba(#000, 0.5);
    background-color: rgba(#fff, 0.6);
  }

  &:hover .services__more,
  &:focus .services__more,
  &:active .services__more {
    display: block;
  }
}

.services__title {
  font-size: 2vh;
  text-transform: uppercase;
  text-align: center;
}

.services__image {
  height: 25vh;
  width: auto;
  max-width: 100%;
}
