/*Шрифты*/

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto.woff") format("woff"),
    url("../fonts/Roboto.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-style: bold;
  font-weight: bold;
  font-display: swap;
}

/*Переменные*/
$accent-font: 'Lobster', cursive;
$hover-color: #963272;
